header {
    display: flex;
    align-items: center;
    background-color: black;
  }
  
  
  .logo {
    flex: 0 0 auto; /* Establece el tamaño de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el título */
  }
  
  .logo img {
    max-width: 30px; /* Tamaño máximo de la imagen */
  }
  
  .titulo h1 {
    margin: 0; /* Elimina el margen predeterminado del encabezado */
  }

  body {
    background-color: rgb(6, 6, 6); /* Establece el color de fondo de la página en negro */
    color: rgb(0, 0, 0); /* Establece el color del texto en blanco */
  }

  head {
    background-color: white; /* Establece el color de fondo de la página en negro */
    color: white; /* Establece el color del texto en blanco */
  }

  footer {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 248, 248);
    padding: 20px;
  }
  
  navegador{
    background-color: white;
    
  }