<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/Login-Form-Basic-icons.css">
  <link rel="stylesheet" href="css/registro.css">
  <script src="js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="js/validaciones_registro.js"></script>
  <script src="js/login.js"></script>

</head>
<header>


  <div class="ms-auto">
  </div>
  <a class="nav-link ms-0" data-bs-toggle="offcanvas" href="#offcanvasExample">Carrito de compras</a>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrito de compras</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        No hay nada en tu carrito de compras.
      </div>
      <div class="dropdown mt-3">
        </ul>
      </div>
    </div>
  </div>
  <a class="nav-link ms-0" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar sesión</a>

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="index.html" method="post" onsubmit="return validarLogin();">
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="loginButton">Iniciar sesión</button>
      
                <a href="registro.html"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Registrarse</button></a>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>

  <br>




</header>
<body>


  <nav class="navbar navbar-expand-lg p-3 mb-2 bg-light text-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img loading="lazy" src="imagenes/logo.png" height="100" width="100" alt="Logo" class="logo"></a>
      <a class="navbar-brand" href="index.html">SkyPhone</a>
      <button class="navbar-toggler" type="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li><a class="nav-link active" aria-current="page" href="catalogo.html">Catálogo</a></li>
 
          <li><a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a></li>
          <li><a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a></li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar equipo" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4" style="background: rgb(76, 85, 241);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                            </svg></div>
                            <form method="post" class="form" id="form">
                              <p class="title">Registro </p>
                              <p class="message">¡Regístrate en nuestro sitio y podrás acceder a un montón de beneficios! </p>
                                  <div class="flex">
                                  <label>
                                      <input required="" placeholder="" type="text" class="input" id="nombre" name="nombre">
                                      <span>Nombre</span>
                                  </label>
                          
                                  <label>
                                      <input required="" placeholder="" type="text" class="input" id="nombre2" name="nombre2">
                                      <span>Apellido</span>
                                  </label>
                              </div>  
                                      
                              <label>
                                  <input required="" placeholder="" type="email" class="input" id="emailregistro" name="email">
                                  <span>Email</span>
                              </label> 
                                  
                              <label>
                                  <input required="" placeholder="" type="password" class="input" id="passwordreg" name="passwordreg">
                                  <span>Contraseña</span>
                              </label>
                              <button class="submit" value="Enviar" onclick="validar()">Enviar</button>
                              
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <footer>
    
    <div class="container">
      <div class="row">
        <div class="col" id="socialnetworks">
          <h4>Redes Sociales</h4>
          <ul>
            <li><a href="facebook"><img src="imagenes/logo-facebook.png" alt="Facebook" width="25"> SkyPhone</a>  </li>
            <li><a href="X"><img src="imagenes/logo-x.webp" alt="X" width="26"> SkyPhone</a> </li>
            <li><a href="Instagram"><img src="imagenes/logo-ig.png" alt="Instagram" width="35"> SkyPhone</a></li>
          </ul>
        </div>
        <div class="col"></div>
        <div class="col">
          <h4 >Enlaces</h4>
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="nosotros.html">Sobre Nosotros</a></li>
            <li><a href="normativas.html">Normativas Legales</a></li>
          </ul>
        </div>
        </div>
      </div>
      <ul>
        
      </ul>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
  </body>
  
    
   